.panel {
    background-color: rgb(255, 255, 255);
    height: 100%;
    margin: 0 150px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
}

.panel-title {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin: 10px 0 0;
    color: var(--main-color);
}

.panel-section-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.bottom-border {
    border-bottom: 1px solid black;
}

.bottom-border:hover {
    border-bottom: 1px solid var(--main-color-dark);
}

.panel-section-container-selected {
    border-bottom: 2px solid var(--main-color-dark);
}

.panel-section-selected {
    color: var(--main-color-dark);
}

.panel-section-title:hover {
    color: var(--main-color);
    cursor: pointer;
}

.panel-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.panel-body-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
    width: 50%;
}

.left-border {
    border-left: 1px solid var(--main-color);
}

.panel-body-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 1px solid var(--main-color);
    padding: 20px;
    width: 50%;
    word-wrap: break-word;
    font-weight: bold;
}

.panel-information {
    margin: 10px;
}

.panel-attributes {
    font-size: large;
    margin: 5px 10px;
}

.panel-button {
    border: 1px solid var(--main-color-dark);
    border-radius: 4px;
    margin: 10px 20px;
    padding: 5px 15px;
    max-height: 30px;
    background-color: var(--main-color);
    color: white;
    font-weight: 600;
}

.panel-button:hover {
    cursor: pointer;
    background-color: var(--main-color-dark);
}

.panel-button:disabled {
    background-color: var(--main-color-transparent);
    cursor: default;
}

.panel-buttons {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.panel-changes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    font-weight: bold;
}

.panel-changes-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    width: 100%;
}

.panel-changes-information {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.panel-changes-informations {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.panel-textarea {
    margin: 10px;
    padding: 7px;
    min-width: 30%;
    max-width: 100%;
    border: 1px solid var(--main-color-dark);
}

.panel-input {
    padding: 7px;
    min-width: 30%;
    max-width: 100%;
    border: 1px solid var(--main-color-dark);
}

.panel-changes-attribute {
    width: 20%;
    margin: 10px 0;
}