.hodocasnici-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hodocasnik {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 10px 10px 0 10px;
    font-size: x-large;
    word-wrap: break-word;
    box-sizing: border-box;
}

.hodocasnik-field {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.hodocasnik-head {
    font-weight: bold;
    margin: 0 0 10px 0;
}

.hodocasnik-input {
    padding: 10px;
    border: 1px solid var(--main-color);
    width: 100%;
    margin: 0 10px 0 0;
    font-size: medium;
}

.radio-button-selected {
    border: 1px solid var(--main-color-dark);
    background-color: var(--main-color);
    border-radius: 4px;
    margin: 0 10px;
    padding: 5px 15px;
    max-height: 30px;
    width: 100%;
    color: white;
    font-weight: 600;
}

.radio-button {
    background-color: var(--main-color-transparent);
    border: 1px solid var(--main-color-dark);
    border-radius: 4px;
    margin: 0 10px;
    padding: 5px 15px;
    max-height: 30px;
    width: 100%;
    color: white;
    font-weight: 600;
}

.radio-button:hover {
    cursor: pointer;
    background-color: var(--main-color-dark);
}