.login-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(177, 166, 166);
    border-radius: 10px;
    box-shadow: 2px 2px rgb(77 83 86);
    margin: 100px auto;
    padding: 10px;
    max-width: 600px;
}

.login-label {
    text-align: start;
    margin: 0 auto;
}

.login-form {
    margin: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-button {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    margin: 10px auto;
    padding: 3px;
    min-width: 200px;
}

.login-title {
    margin: 10px auto;  
    text-align: center;
}

.error {
    color: red;
    margin: 10px;  
    text-align: center;
}

.login-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
}