.notification-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
}

.notification-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.notification-right {
    width: 100%;
}

.notification-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
    font-size: x-large;
    font-weight: bold;
}

.notification-bottom {
    font-size: large;
    word-break: normal;
    margin: 20px 0;
}

.notification-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}

.notification-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.notification-textarea-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.notification-textarea {
    min-width: 30%;
    max-width: 100%;
    border: 1px solid var(--main-color-dark);
}