:root {
    --main-color: rgb(89 0 26 / 90%);
    --main-color-dark: rgb(89 0 26);
    --main-color-transparent: rgb(89 0 26 / 60%);
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    height: 100%;
    background-color: rgb(238 237 236 / 50%);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--main-color);
    color: white;
    height: 70px;
    font-size: xx-large;
}

header>a {
    color: white;
    text-decoration: none;
}

hr {
    height: 1px;
    width: 100%;
    border: none;
    color: var(--main-color);
    background-color: var(--main-color);
    margin: auto;
}